<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home 首页</a></li>
		        	<li><a href="/about">About 关于我</a></li>
	        		<li><a href="https://soundcloud.com/gab-liu">SoundCloud 音乐</a></li>
	        		<li><a href="/blog">Diary 杂记</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gabriellagoode@gmail.com?subject=Hello%20Gab!">email: gabriellagoode@gmail.com</a></li>
	        		<li><a href="https://github.com/gabgoode">github.com/gabgoode</a></li>
				</ul>
			</footer>
		</body>
	</html>
