<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home 首页</a></li>
		        	<li><a href="/about">About 关于我</a></li>
	        		<li><a href="https://soundcloud.com/gab-liu/tracks">Original Music 原创音乐</a></li>
	        		<li><a href="/blog">Poems 诗集</a></li>
				<li><a href="https://open.spotify.com/show/2SZ3b9Jq9yqGZjHePLzItl">Podcast: Where To Go Next? 播客：下一步去哪里？</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a target="_top" href="mailto:gabriellagoode@gmail.com?subject=Hello%20Gab!">email: gabriellagoode@gmail.com</a></li>
	        		<li><a href="https://github.com/gabgoode">github.com/gabgoode</a></li>
				<li><a href="https://www.linkedin.com/in/gabliu/">LinkedIn</a></li>
				<li><a href="https://www.instagram.com/gabgoode/">Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
